!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rails6 AdminLTE 2.4
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      = render "base/header"
      = render "base/sidebar"
      .content-wrapper
        %section.content.container-fluid
          = yield
          = toastr_flash
      = render "base/footer"
      = render "base/control_sidebar"
      %div
